doctype html
html(lang="en")
    head
        include ./includes/head.pug
        title category
    body
    .main_wrap
        .wrap
            -authorised=true;
            include ./includes/header.pug
            mixin block_goods
                .product
                    .product_img
                    p.product_name Double-Layered Top
                    p.product_price € 89,95
            mixin product_category(name)
                    h1.category=name
                
            
            mixin show_more
                a.show(href="#") show more
                span  ▸

            
            a.crumbs(href="#") HOME / MEN

            .coats
                +product_category('coats')
                +show_more
                .gallery
                    +block_goods
                    +block_goods
                    +block_goods
                    +block_goods

            .outerwear
                +product_category('outerwear')
                +show_more
                .gallery
                    +block_goods
                    +block_goods
                    +block_goods
                    +block_goods

            .t-shirts
                +product_category('t-shirts')
                +show_more
                .gallery
                    +block_goods
                    +block_goods
                    +block_goods
                    +block_goods
            
            .line

            p.lookbook Check our lookbook

                
            
            include ./includes/slider.pug
            include ./includes/footer.pug