footer
    .footer-col-1
        p.headline Collection
        ul.lists
            li
                a(href="#") Woman (1725)
            li
                a(href="#") Men (635)
            li
                a(href="#") Kids (2514)
            li
                a(href="#") Comming Soon (76)
    .footer-col-2
        p.headline site
        ul.lists
            li
                a(href="#") Terms of Service 
            li
                a(href="#") Privacy Policy 
            li
                a(href="#") Copyright Policy 
            li
                a(href="#") Press Kit 
            li
                a(href="#") Support
    .footer-col-3
        p.headline Shop
        ul.lists
            li
                a(href="#") About us
            li
                a(href="#") Shipping Metods
            li
                a(href="#") Career
            li
                a(href="#") Contact
    .footer-col-4
        p.headline social
        p Shoper is made with love in Warsaw, 
        p 2014 © All rights reserved. El Passion
        
        ul.social-media
            li
                a(href="#").twitter 
                    img(src="images/twitter.png")
            li
                a(href="#").facebook
                    img(src="images/facebook.png") 
            li
                a(href="#").instagram
                    img(src="images/instagram.png") 
